.footer-container {
  background-color: rgb(65, 65, 65);
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h5{
    font-family: "Montserrat";
    letter-spacing: 1.1px;
  }
  .partners {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
